<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rose Mulazada • Front-end Developer</title>
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="icon" type="image/x-icon" href="svg/rose-blk.svg" />
    </head>
    <style>
        .intro {
            padding: 5vh;
            text-align: center;
        }
    </style>
    <body>
        <!-- HERO PAGE -->
        <div class="fullpage_container polka">
            <%- include ('../partials/header.ejs') %>

            <!-- <div class="intro">
                A creative front-end developer looking to make inspiring work.
            </div> -->

            <p id="circular_text"></p>

            <!-- Name scroll -->
            <%- include ('../partials/slider.ejs') %>
        </div>
        <!-- ABOUT -->
        <%- include ('../partials/about.ejs')%>
        <!-- WORKS -->
        <%- include ('../partials/work.ejs')%>
        <!-- FEATS -->
        <%- include ('../partials/feats.ejs')%>
        <!-- CONTACT ? -->
        <!-- <div class="fullpage_container"></div> -->
        <!-- FOOTER -->
        <footer>
            © Copyright 2024 Rose Mulazada
            <img src="svg/rose-white.svg" alt="A white rose" />
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Flip.min.js"></script>
        <script src="https://unpkg.com/gsap@3/dist/CSSRulePlugin.min.js"></script>
        <script>
            const worksData = <%- JSON.stringify(worksData) %>;
            const dataPerWorkCategory = <%- JSON.stringify(dataPerWorkCategory) %>;
        </script>
        <script type="module" src="js/scripts.js"></script>
    </body>
</html>
