<div class="fullpage_container">
    <ul class="filters">
    <% Object.keys(worksData).forEach((workCategory, index) => { %>
        <% const projects = worksData[workCategory][Object.keys(worksData[workCategory])[0]]; %>
        <li class="<%= index === 0 ? 'active filter' : 'filter' %>" data-work-topic="<%- workCategory %>">
            <h3 <%= index === 0 ? 'class=all' : '' %>><%= Object.keys(worksData[workCategory])[0] %></h3>
            <p <%= index === 0 ? 'class=all-p' : '' %>>(<%= projects.length %>)</p>
        </li>
    <% }); %>
</ul>


    <div class="works"></div>
</div>
